<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="styles.css">
    <style>
      .content img {
          display: block;
          margin: 0 auto;
      }
  </style>
</head>
<body>
    <div>
      <img src="static/1694880457959-c696be11-7d15-4f4a-a6a5-f66b1a543d4020) FINALV_1 copy.jpg" alt="Updated Image">
      <img src="static/1694880457959-c696be11-7d15-4f4a-a6a5-f66b1a543d4020) FINALV_2.jpg" alt="Page 2 of the Maryland PreAuth Form">
    </div>
    
</body>
</html>